<div class="container dm-body-nav-wrapper mt-4">
    <div class="nav nav-pills flex-sm-column flex-md-row">
        <a class="dm-body-nav flex-sm-fill text-sm-center nav-link" href="/cuisine?genre=Chinese">Home</a>
        <a class="dm-body-nav flex-sm-fill text-sm-center nav-link" href="/cuisine?genre=Chinese">Profile</a>
        <a class="dm-body-nav flex-sm-fill text-sm-center nav-link" href="/post-car">Create Posts</a>
        <a class="dm-body-nav flex-sm-fill text-sm-center nav-link" href="/dashboard">Logout</a>
    </div>
</div>
