<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
</head>
<body>
<div class="dm-signup container mt-4">
    <div class="row">
        <div class="col-lg-5 container">
    <form class="form-horizontal mt-5" id="dealerRegisterForm" action='/post-car' method="POST">
        <fieldset>
            <div class="form-group">
                <!-- Manufacture -->
                <label class="control-label"  for="manufacture">Manufacture:</label>
                <input type="text" name="manufacture"
                       placeholder="input manufacture" class="form-control" required>
                <small class="form-text text-muted">Manufacture cannot be empty.</small>
            </div>

            <div class="form-group">
                <!-- Model -->
                <label class="control-label" for="model">Model:</label>
                <input type="text" name="model" placeholder="input model" class="form-control" required>
                <small class="form-text text-muted">Model cannot be empty.</small>
            </div>

            <div class="form-group">
                <!-- Year-->
                <label class="control-label" for="year">Year:</label>
                <input type="text" name="year"
                       placeholder="input year" class="form-control" minlength=4 required>
                <small class="form-text text-muted">Year must contain at least 4 characters.</small>
            </div>

            <div class="form-group">
                <!-- Price -->
                <label class="control-label"  for="price">Price:</label>
                <input type="text" name="price"
                       placeholder="input price" class="form-control" minlength=1 maxlength=9 required>
                <small class="form-text text-muted">Price must contain 1 to 9 characters.</small>
            </div>
            <input type="hidden" name="ownerId" value="<%= userInfo.IndividualID ?
                    userInfo.IndividualID : (userInfo.DealerId ? userInfo.DealerId : -1)%>">
            <input type="hidden" name="accountType" value="<%= accountType %>">
            <button class="btn dm-btn-success">Post </button>
            <button class="btn dm-btn-success"><a href="/">Cancel </a></button>
            <br>
            <br>
            <p>Create and you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
        </fieldset>
    </form>
        </div>
    </div>
</div>
    <!-- libraries -->
    <% include ./lib-url.ejs %>
</body>
</html>