<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
    <link rel='stylesheet' href='/stylesheets/header.css' />

</head>
<body>
    <% include ./top-nav.ejs %>
        <div class="dm-restaurant-user-action">
            <button class="btn-sm" id="writeReviewBtn">
                <img class="material-icons useraction-adjust mr-2" src="/images/writeviewIcon/writeviewIcon1.png"
                     alt="review">
            </button>
        </div>


    <!-- libraries -->
    <% include ./lib-url.ejs %>
    <script src="/scripts/pg-create-post.js"></script>

</body>
</html>