<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body, html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    * {
      box-sizing: border-box;
    }

    .bg-image {
      /* The image used */
      background-image: url("/images/home/background.jpg");
      
      /* Add the blur effect */
      filter: blur(2px);
      -webkit-filter: blur(2px);
      
      /* Full height */
      height: 100%; 
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .bg-image2 {
      /* The image used */
      background-image: url("/images/home/policy.png");
      
      /* Add the blur effect */
      
      /* Full height */
      height: 40%; 
      
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    /* Position text in the middle of the page/image */
    .bg-text {
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
      color: white;
      font-weight: bold;
      border: 3px solid #f1f1f1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 80%;
      padding: 20px;
      text-align: center;
    }

    table.table1 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    table.table1 td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    table.table1 th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    table.table1 tr:nth-child(even) {
        background-color: #dddddd;
    }
    table.table2 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    .previous {
        background-color: #f1f1f1;
        color: black;
    }

    .next {
        background-color: #4CAF50;
        color: white;
    }

    .round {
        border-radius: 50%;
    }
    .button {
    -moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
    -webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
    box-shadow:inset 0px 1px 0px 0px #3dc21b;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
    background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
    background-color:#44c767;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    }
    .button:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
        background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
        background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
        background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
        background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
        background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
        background-color:#5cbf2a;
    }
    .button:active {
        position:relative;
        top:1px;
    }
    </style>
</head>

<body>
<% include ./top-nav.ejs %>
<% include ./body-nav.ejs %>
<% include ./create-post.ejs %>
<div class="bg-image"></div>

<div class="bg-text">
  <h2>U.S. No.1 car Selling Website</h2>
  <h1 style="font-size:50px">Lowest Price Guaranteed</h1>
  <p>And You Can Post Your Car For Sale</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-9 dm-home-left-panel">
			<div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
				<table class="table2">
					<tr>
					</tr>
                      <tr>
                        <th><img src="/images/home/car1.png" alt="Trulli" width="350" height="250"></th>
                        <th><img src="/images/home/car2.png" alt="Trulli" width="350" height="250"></th>
                        <th><img src="/images/home/car3.png" alt="Trulli" width="350" height="250"></th>
                      </tr>
                </table>
			</div>
           
        </div>
        <div class="col-lg-3 dm-home-right-panel">
            <!-- login panel -->
            <div class="row">
                <form class="dm-home-login-form" id="homeLoginForm">
                    <div class="form-group mt-4">
                        <input type="text" class="form-control" id="userId"  placeholder="Enter Username">
                    </div>
                    
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div>
                               <small class="form-text text-muted">User Type? </small>
                               <br />
                              <select name="type">
                                  <option value="individual">Individual</option>
                                  <option value="dealer">Dealer</option>
                                </select>
                    </div>
                    <div>

                    <table class="table2" style="width:100%" >
                        <tr>
                        <th> <button id="homeLoginBtn" class="dm-home-login-form-btn dm-btn-blue btn btn-primary mt-5">Login</button></th>
                        <th><a id="homeSignUpBtn" class="dm-home-login-form-btn dm-btn-blue btn btn-primary mt-5" href="/register">Sign Up</a></th> 
                    </table>
                   
                    <br>
                    <br>
					
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<br>
<br>
<br>
<br>
<h2>Cars On Sale!</h2>
<table class="table1">
  <tr>
    <th>Car ID</th>
    <th>Manufacture</th>
    <th>Model and Year</th>
    <th>Price Quote</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Dolphin, common</td>
    <td>Quest 1999</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Slender loris</td>
    <td>RX-8</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Common goldeneye</td>
    <td>Escalade EXT</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>  </tr>
  <tr>
    <td>4</td>
    <td>Screamer, crested</td>
    <td>G-Class 2005</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>  </tr>
  <tr>
    <td>5</td>
    <td>White-faced</td>
    <td>944 1998</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>6</td>
    <td>Caracara</td>
    <td>Regal 1998</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>7</td>
    <td>Cockatoo, red-breasted</td>
    <td>Legacy 1990</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>8</td>
    <td>Pheasant, ring-necked</td>
    <td>G-Series 1995</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>9</td>
    <td>Buttermilk snake</td>
    <td>SVX 1992</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>10</td>
    <td>Hartebeest, red</td>
    <td>Space 1992</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
    <tr>
    <td>11</td>
    <td>Dolphin, common</td>
    <td>Quest 1999</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>12</td>
    <td>Slender loris</td>
    <td>RX-8</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>13</td>
    <td>Common goldeneye</td>
    <td>Escalade EXT</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>14</td>
    <td>Screamer, crested</td>
    <td>G-Class 2005</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>15</td>
    <td>White-faced</td>
    <td>944 1998</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>16</td>
    <td>Caracara</td>
    <td>Regal 1998</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>17</td>
    <td>Cockatoo, red-breasted</td>
    <td>Legacy 1990</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>18</td>
    <td>Pheasant, ring-necked</td>
    <td>G-Series 1995</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>19</td>
    <td>Buttermilk snake</td>
    <td>SVX 1992</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>20</td>
    <td>Hartebeest, red</td>
    <td>Space 1992</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
</table>
<br>
<br>
<br>
<div align="center">
<a href="#" class="previous round">&#8249;</a>
<a href="#" class="next round">&#8250;</a>
</div>
<br>
<br>
<br>
<br>
<hr>
<div class="bg-image2"></div>
<hr>
<br>
<div class="form-text text-muted">© Copyright 2018 Car Dealer, LLC. Trademark Engine provides information and software only. Car Dealer is not a "lawyer referral service" and does not provide legal advice or participate in any legal representation. Use of Car Dealer is subject to our Terms of Service and Privacy Policy.</div>
<script type="text/javascript" src="/scripts/pg-home.js"></script>
</body>


</html>