<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
    <link rel='stylesheet' href='/stylesheets/home.css' />
</head>

<body>
<% include ./top-nav.ejs %>


<% include ./body-nav.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-9 dm-home-left-panel">
            <div class="row">
                <img class="dm-home-banner-img" src="/images/homeHeaderBanner/homeHeaderBanner1.png">
            </div>
			
			<div>
				<table>
					<tr>
						<th>Car Name</th>

					</tr>
					<tr><td>Car 1</td></tr>
					<tr><td>Car 2</td></tr>
					<tr><td>Car 3</td></tr>
					<tr><td>Car 4</td></tr>
					<tr><td>Car 5</td></tr>
					<tr><td>Car 6</td></tr>
					<tr><td>Car 7</td></tr>
				</table>
			</div>
           
        </div>
        <div class="col-lg-3 dm-home-right-panel">
            <!-- login panel -->
            <div class="row">
                <form class="dm-home-login-form" id="homeLoginForm">
                    <div class="form-group mt-4">
                        <input type="text" class="form-control" id="userId"  placeholder="Enter ID">
                    </div>
                    <div class="form-group">
                        <input type="radio" class="form-control" name="type" value="individual" checked> Individual Account<br>
                        <input type="radio" class="form-control" name="type" value="delear"> Dealer Account<br>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button id="homeLoginBtn" class="dm-home-login-form-btn dm-btn-blue btn btn-primary mt-5">Login</button>
                    <a id="homeSignUpBtn" class="dm-home-login-form-btn dm-btn-orange btn btn-primary" href="/register">Sign Up As Dealer</a>
					<a id="homeSignUpBtn" class="dm-home-login-form-btn dm-btn-orange btn btn-primary" href="/register">Sign Up As Individual</a>
                </form>
            </div>
        </div>

    </div>
</div>


<div class="dm-footer mt-4 mb-3"><h6>Copyright 2018 Dealer</h6></div>


<
<script type="text/javascript" src="/scripts/pg-home.js"></script>
</body>


</html>