<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<% include ./body-nav.ejs %>
<div class="bg-image"></div>

<div class="bg-text">
  <h2>U.S. No.1 car Selling Website</h2>
  <h1 style="font-size:50px">Lowest Price Guaranteed</h1>
  <p>And You Can Post Your Car For Sale</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-9 dm-home-left-panel">
			<div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
				<table class="table2">
					<tr>
					</tr>
                      <tr>
                        <th><img src="/images/home/car1.png" alt="Trulli" width="350" height="250"></th>
                        <th><img src="/images/home/car2.png" alt="Trulli" width="350" height="250"></th>
                        <th><img src="/images/home/car3.png" alt="Trulli" width="350" height="250"></th>
                      </tr>
                </table>
			</div>
           
        </div>
        <div class="col-lg-3 dm-home-right-panel">
            <!-- login panel -->
            <div class="row">
                <form class="dm-home-login-form" id="homeLoginForm">
                    <div class="form-group mt-4">
                        <input type="text" class="form-control" id="userId"  placeholder="Enter Username">
                    </div>
                    
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div>
                               <small class="form-text text-muted">User Type? </small>
                               <br />
                              <select name="type">
                                  <option value="individual">Individual</option>
                                  <option value="dealer">Dealer</option>
                                </select>
                    </div>
                    <div>

                    <table class="table2" style="width:100%" >
                        <tr>
                        <th> <button id="homeLoginBtn" class="dm-home-login-form-btn dm-btn-blue btn btn-primary mt-5">Login</button></th>
                        <th><a id="homeSignUpBtn" class="dm-home-login-form-btn dm-btn-blue btn btn-primary mt-5" href="/register">Sign Up</a></th> 
                    </table>
                   
                    <br>
                    <br>
					
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<br>
<br>
<br>
<br>
<h2>Cars On Sale!</h2>
<table class="table1">
  <tr>
    <th>Car ID</th>
    <th>Manufacture</th>
    <th>Model and Year</th>
    <th>Price Quote</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Dolphin, common</td>
    <td>Quest 1999</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Slender loris</td>
    <td>RX-8</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Common goldeneye</td>
    <td>Escalade EXT</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>  </tr>
  <tr>
    <td>4</td>
    <td>Screamer, crested</td>
    <td>G-Class 2005</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>  </tr>
  <tr>
    <td>5</td>
    <td>White-faced</td>
    <td>944 1998</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>6</td>
    <td>Caracara</td>
    <td>Regal 1998</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>7</td>
    <td>Cockatoo, red-breasted</td>
    <td>Legacy 1990</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>8</td>
    <td>Pheasant, ring-necked</td>
    <td>G-Series 1995</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>9</td>
    <td>Buttermilk snake</td>
    <td>SVX 1992</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>10</td>
    <td>Hartebeest, red</td>
    <td>Space 1992</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
    <tr>
    <td>11</td>
    <td>Dolphin, common</td>
    <td>Quest 1999</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>12</td>
    <td>Slender loris</td>
    <td>RX-8</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>13</td>
    <td>Common goldeneye</td>
    <td>Escalade EXT</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>14</td>
    <td>Screamer, crested</td>
    <td>G-Class 2005</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>15</td>
    <td>White-faced</td>
    <td>944 1998</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>16</td>
    <td>Caracara</td>
    <td>Regal 1998</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>17</td>
    <td>Cockatoo, red-breasted</td>
    <td>Legacy 1990</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>18</td>
    <td>Pheasant, ring-necked</td>
    <td>G-Series 1995</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>19</td>
    <td>Buttermilk snake</td>
    <td>SVX 1992</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
  <tr>
    <td>20</td>
    <td>Hartebeest, red</td>
    <td>Space 1992</td>
    <td><button type="button" class="button" onclick="alert('Request Sent!')">Buy</button></td>
  </tr>
</table>
<br>
<br>
<br>
<div align="center">
<a href="#" class="previous round">&#8249;</a>
<a href="#" class="next round">&#8250;</a>
</div>
<br>
<br>
<br>
<br>
<hr>
<div class="bg-image2"></div>
<hr>
<br>
<div class="form-text text-muted">© Copyright 2018 Car Dealer, LLC. Trademark Engine provides information and software only. Car Dealer is not a "lawyer referral service" and does not provide legal advice or participate in any legal representation. Use of Car Dealer is subject to our Terms of Service and Privacy Policy.</div>
<script type="text/javascript" src="/scripts/pg-home.js"></script>
</body>


</html>