<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body, html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    * {
      box-sizing: border-box;
    }

    .bg-image {
      /* The image used */
      background-image: url("/images/home/background.jpg");
      
      /* Add the blur effect */
      filter: blur(2px);
      -webkit-filter: blur(2px);
      
      /* Full height */
      height: 100%; 
      
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    /* Position text in the middle of the page/image */
    .bg-text {
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
      color: white;
      font-weight: bold;
      border: 3px solid #f1f1f1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 80%;
      padding: 20px;
      text-align: center;
    }
    </style>
</head>

<body>
<% include ./top-nav.ejs %>
<% include ./body-nav.ejs %>
<div class="bg-image"></div>

<div class="bg-text">
  <h2>U.S. No.1 car Selling Website</h2>
  <h1 style="font-size:50px">Lowest Price Guaranteed</h1>
  <p>And You Can Post Your Car For Sale</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-9 dm-home-left-panel">
			<div>
				<table>
					<tr>
						<th>Car Name</th>

					</tr>
					<tr><td>Car 1</td></tr>
					<tr><td>Car 2</td></tr>
					<tr><td>Car 3</td></tr>
					<tr><td>Car 4</td></tr>
					<tr><td>Car 5</td></tr>
					<tr><td>Car 6</td></tr>
					<tr><td>Car 7</td></tr>
				</table>
			</div>
           
        </div>
        <div class="col-lg-3 dm-home-right-panel">
            <!-- login panel -->
            <div class="row">
                <form class="dm-home-login-form" id="homeLoginForm">
                    <div class="form-group mt-4">
                        <input type="text" class="form-control" id="userId"  placeholder="Enter ID">
                    </div>
                    <div class="form-group">
                        <input type="radio" class="form-control" name="type" value="individual" checked> Individual Account<br>
                        <input type="radio" class="form-control" name="type" value="delear"> Dealer Account<br>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button id="homeLoginBtn" class="dm-home-login-form-btn dm-btn-blue btn btn-primary mt-5">Login</button>
                    <a id="homeSignUpBtn" class="dm-home-login-form-btn dm-btn-orange btn btn-primary" href="/register">Sign Up</a>
                </form>
            </div>
        </div>

    </div>
</div>


<div class="dm-footer mt-4 mb-3"><h6>Copyright 2018 Dealer</h6></div>

<script type="text/javascript" src="/scripts/pg-home.js"></script>
</body>


</html>