<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>

</head>

<body class="light-text-color">

<% include ./top-nav.ejs %>
<div class="dm-header container mt-5">
    <div class="row">
        <div class="col-lg-2 dm-header-logo-wrapper">
            <a href="#" class="">
                <img class="dm-header-logo" src="/images/logo_slices/logo@2x.png">
            </a>
        </div>
        <div class="col-lg-8 dm-header-text-wrapper">
            <h1 class="dm-header-text">DISH MASTER</h1>
        </div>
        <div class="col-lg-2">
            <div class="dm-header-location-wrapper">
                <span><img src="/images/locationIcon/locationIcon1.png"></span>
                <span class="align-middle">SAN JOSE</span>
            </div>
        </div>
    </div>
</div>
<% include ./body-nav.ejs %>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-3">
            <img src="/images/default-avatar.png">
        </div>
        <div class="col-lg-9">
            <div>
                <h3>user name</h3>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div id="profileTabs">
        <ul>
            <li><a href="#tabs-rst-list">posted cars</a></li>
            <li><a href="#tabs-followers">involved transactions</a></li>
        </ul>
        <div id="tabs-rst-list">
            <h3>posted cars</h3>
        </div>
        <div id="tabs-followers">
            <h3>involved transactions</h3>
        </div>
    </div>
</div>



<div class="dm-footer mt-4 mb-3"><h6>Copyright 2018 Dealer</h6></div>

<!-- libraries -->
<% include ./lib-url.ejs %>

<script type="text/javascript" src="/scripts/pg-profile.js"></script>
</body>


</html>