<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <% include ./body-nav.ejs %>
    <hr>
    <div class="dm-header container mt-5">
        <div class="row">
            <div class="col-lg-3 dm-header-logo-wrapper">
                <a href="#" class="">
                    <img class="dm-header-logo" src="/images/register/logo@2x.png" height="62" width="62">
                </a>
            </div>
            <div class="col-lg-6 dm-header-text-wrapper">
                <h1 class="dm-header-text">New User Registration</h1>
            </div>
            <div class="col-lg-3">
                <div class="dm-header-location-wrapper">
                    <span><img src="/images/register/logo@2x.png" height="62" width="62"></span>
                    <span class="align-middle">SAN JOSE</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="dm-signup container mt-4">
        <div class="row">
            <div class="col-lg-7 dm-signup-image">
                <img class="signup" src="/images/register/signup.png">
            </div>
            <div id="registerTabs">
                <ul>
                    <li><a href="#register-dealer">Dealer</a></li>
                    <li><a href="#register-individual">Individual</a></li>
                </ul>
                <div id="register-dealer">
                    <% include ./dealer-register.ejs %>
                </div>
                <div id="register-individual">
                    <% include ./individual-register.ejs %>
                </div>
            </div>
            <div class="col-lg-5 container">
                <table>
                	<tr>
				    <td>&nbsp;&nbsp;<button class="social-signin facebook">Log in with facebook</button></td>
				  	</tr>
				  	<tr>
				    <td>&nbsp;&nbsp;<button class="social-signin twitter">Log in with Twitter</button></td>
				  	</tr>
				  	<tr>
				    <td>&nbsp;&nbsp;<button class="social-signin google">Log in with Google+</button></td>
				  	</tr>
                </table>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<div class="form-text text-muted">© Copyright 2018 Car Dealer, LLC. Trademark Engine provides information and software
    only. Car Dealer is not a "lawyer referral service" and does not provide legal advice or participate in any legal
    representation. Use of Car Dealer is subject to our Terms of Service and Privacy Policy.</div>

<div id="dialog" title="Dish Master">
    <p id="dialogMsg"></p>
</div>
<!-- libraries -->
<% include ./lib-url.ejs %>
<script type="text/javascript" src="/scripts/pg-register.js"></script>
</body>


</html>