<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body, html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    * {
      box-sizing: border-box;
    }
    .center{
        margin-left: 530px;
    }
    .bg-image2 {
      /* The image used */
      background-image: url("/images/home/policy.png");
      
      /* Add the blur effect */
      filter: blur(0px);
      -webkit-filter: blur(0px);
      
      /* Full height */
      height: 40%; 
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .bg-image {
      /* The image used */
      background-image: url("/images/home/background.jpg");
      
      /* Add the blur effect */
      filter: blur(8px);
      -webkit-filter: blur(8px);
      
      /* Full height */
      height: 100%; 
      
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    /* Position text in the middle of the page/image */
    .bg-text {
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
      color: white;
      font-weight: bold;
      border: 3px solid #f1f1f1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 80%;
      padding: 20px;
      text-align: center;
    }
</style>
</head>
<body>
    <% include ./body-nav.ejs %>
    <div class="bg-image"></div>
    <div class="bg-text">
      <h2>Create a FREE Account</h2>
      <h1 style="font-size:50px">Sign Up Page</h1>
      <p>And Then You Can Post Your Car For Sale or Buy Cars with Lowest Price!</p>
    </div>
    <br><br>
    <hr>
<div class="center">
    <div class="dm-signup container mt-4">
        <div class="row">
            <div id="registerTabs">
                <ul>
                    <li><a href="#register-dealer">Dealer</a></li>
                    <li><a href="#register-individual">Individual</a></li>
                </ul>
                <div id="register-dealer">
                    <% include ./dealer-register.ejs %>
                </div>
                <div id="register-individual">
                    <% include ./individual-register.ejs %>
                </div>
            </div>
            <div class="col-lg-5 container">
            </div>
        </div>
    </div>
</div>
<br><br>
<hr>
<div class="bg-image2"></div>
<br><br><hr>
<br>
<div class="form-text text-muted">© Copyright 2018 Car Dealer, LLC. Trademark Engine provides information and software
    only. Car Dealer is not a "lawyer referral service" and does not provide legal advice or participate in any legal
    representation. Use of Car Dealer is subject to our Terms of Service and Privacy Policy.</div>

<div id="dialog" title="Dish Master">
    <p id="dialogMsg"></p>
</div>
<!-- libraries -->
<% include ./lib-url.ejs %>
<script type="text/javascript" src="/scripts/pg-register.js"></script>
</body>


</html>