<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
    <link rel='stylesheet' href='/stylesheets/signup.css' />

</head>
<body>
    <% include ./top-nav.ejs %>
    <div class="dm-header container mt-5">
        <div class="row">
            <div class="col-lg-3 dm-header-logo-wrapper">
                <a href="#" class="">
                    <img class="dm-header-logo" src="images/logo_slices/logo@2x.png"/>
                </a>
            </div>
            <div class="col-lg-6 dm-header-text-wrapper">
                <h1 class="dm-header-text">Auto Sales</h1>
            </div>
            <div class="col-lg-3">
                <div class="dm-header-location-wrapper">
                    <span><img src="/images/locationIcon/locationIcon1.png"></span>
                    <span class="align-middle">SAN JOSE</span>
                </div>
            </div>
        </div>
    </div>

    <div class="dm-signup container mt-4">
        <div class="row">

            <div class="col-lg-7 dm-signup-image">
                <img class="signup" src="/images/signup/signup1.png">
            </div>

            <div class="col-lg-5 container">
<<<<<<< HEAD
                <form class="form-horizontal mt-5" id="signupForm" action='/Register' method="POST">
=======
                <form class="form-horizontal mt-5" id="signupForm" action='/register' method="POST">
>>>>>>> 3bef04812207836698172d25acab30c52b5b387f
                    <fieldset>
                        <div class="form-group">
                            <!-- LastName -->
                            <label class="control-label"  for="lastName">LastName:</label>
                            <input type="text" id="inputLastName" name="lastName" placeholder="" class="form-control" minlength=6 maxlength=12 required >
                            <small class="form-text text-muted">LastName must contain 6-12 characters.</small>
                        </div>

                        <div class="form-group">
                            <!-- FirstName -->
                            <label class="control-label" for="firstName">FirstName:</label>
                            <input type="text" id="inputFirstName" name="firstName" placeholder="" class="form-control" required>
                            <small class="form-text text-muted">LastName must contain 6-12 characters.</small>
                        </div>

                        <div class="form-group">
                            <!-- UserName -->
                            <label class="control-label" for="userName">UserName:</label>
                            <input type="text" id="inputUserName" name="userName" placeholder="" class="form-control" required>
                            <small class="form-text text-muted">UserName must contain 6-12 characters.</small>
                        </div>

                        <div class="form-group">
                            <!-- Password-->
                            <label class="control-label" for="password">Password:</label>
                            <input type="password" id="inputPwd" name="userPwd" placeholder="" class="form-control" minlength=6 maxlength=12 required>
                            <small class="form-text text-muted">Password must contain 6-12 characters.</small>
                        </div>

                        <div class="form-group">
                            <!-- Password -->
                            <label class="control-label"  for="password_confirm">Password (Confirm):</label>
                            <input type="password" id="inputPwdConfirm" name="userPwdConfirm" placeholder="" class="form-control" minlength=6 maxlength=12 required>
                        </div>

                        <div class="form-group">
                        	<div>
							   <small class="form-text text-muted">User Type? </small>
							   <br />
							  <label>
							    <input type="checkbox"  value="1" name="dealer" /> Dealer</label>
							  <label>
							    <input type="checkbox"  value="1" name="individual" /> Individual</label>
							  <label>
							</div>
                        </div>>

                        <button class="btn dm-btn-success">Register</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

<div class="dm-footer mt-4 mb-3"><h6>Copyright 2018 Auto Sells</h6></div>

<div id="dialog" title="Dish Master">
    <p id="dialogMsg"></p>
</div>
<!-- libraries -->
<% include ./lib-url.ejs %>
<script type="text/javascript" src="/scripts/pg-signup.js"></script>
</body>


</html>