<nav class="dm-topnav mt-2">
    <ul class="dm-topnav-icons-wrapper">
        <li class="dm-topnav-icons">
            <a href="/">
                <img class="dm-logo-sm" src="/images/homeIcon/homeIcon1.png">
            </a>
        </li>
        <li class="dm-topnav-icons">
            <a href="/logout">
                <img class="dm-logo-sm" src="/images/logoutIcon/logoutIcon.png">
            </a>
        </li>
        <li class="dm-topnav-icons" id="dm-topnav-user-icon">
            <a href="/profile">
                <img class="dm-logo-sm" src="/images/userIcon/userIcon1.png">
            </a>
        </li>
    </ul>
</nav>