.dm-hidden
{
    display: none;
}
.light-text-color
{
    color: #ccc;
}
.dm-logo-sm
{
    width: 24px;
    height: 24px;
}
.dm-btn-blue
{
    background-color: #86b6f3;
    border: none;
}
.dm-btn-blue:hover
{
    background-color: #5aa3ff;
    border: none;
}
.dm-btn-orange
{
    background-color: #e6ad2d;
    border: none;
}
.dm-btn-orange:hover
{
    background-color: #da8b09;
    border: none;
}

.dm-carousel-wrapper
{
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
}

.dm-cuisine-click
{
    width: 1rem
}

.dm-body-nav-wrapper
{
    background-color: #333;
    padding-left: 0;
    padding-right: 0;
}

.dm-body-nav-dropdown
{
    background-color: #e6ad2d;
    border-radius: 0;
    width: 100%;

}
.dm-body-nav-dropdown ul li
{
    list-style: none;
}

.dm-body-nav-dropdown ul li:nth-child(even)
{
    background-color: #da8b09;
}


.dm-body-nav.nav-link.active
{
    background-color: #da8b09;
}

.dm-body-nav.nav-link
{
    background-color: #333;
    color: white;
    border-radius: 0;
}

.dm-footer
{
    text-align: center;
}

.dm-user-list-avatar
{
    width: 2rem;
    height: 2rem;
}

.dm-cuisine-banner-wrapper
{
    background-color: #333;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dm-cuisine-banner
{
    width: 100%;
    height: 100px;
}

.dm-cuisine-banner-title
{
    position: absolute;
    font-size: 88px;
    color: #FFFFFF;
    z-index: 1;
}

.dm-cuisine-res-img
{
    width: 13rem;
    height: 12rem;
    border-radius: unset;
}

.dm-cuisine-card
{
    display: flex;
    flex-direction: row;
    border: none;
}

.dm-cuisine-card-title
{
    display: flex;
    flex-direction: row;
}


.dm-restaurant-card-title
{
    display: flex;
    flex-direction: row;
}

.dm-cuisine-card-row
{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.material-icons.star-adjust
{
    width: 30px;
    height: 30px;
}

.dm-restaurant-social
{
    position: absolute;
    right: 0;
}

.dm-cuisine-card-separator
{
    border-right: 1px solid #a1aec4;
}

.card-body.card-body-adjust
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.card-body.card-cuisine-adjust
{
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.dm-cuisine-card-review
{
    color: #DA8B09;
}

.dm-restaurant-card-reviewitem
{
    color: gray;
}

.dm-restaurant-card
{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 16rem;
    border: none;
    border-radius: 0;
}

.dm-restaurant-img
{
    width: 16rem;
    height: 16rem;
    border-radius: unset;
}

.dm-restaurant-open
{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-left: 0.5rem solid black;
}

.dm-timer-hour-wrapper
{
    position: absolute;
    border: 3px solid black;
    border-radius: 2rem;
    padding: 8px;
}

.dm-restaurant-hour
{
    margin: 0;
}

.dm-restaurant-status
{
    position: absolute;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 44px;
}

.dm-restaurant-dish-img
{
    width: 12.5rem;
    height: 10rem;
}

.dm-restaurant-dish-info
{
    padding: 1rem;
    background-color: #FFFFFF;
    height: 14rem;
}

.dm-restaurant-dish-pic-row
{
    display: flex;
    flex-direction: row;
}

.dm-restaurant-map
{
    border-left: 0.5rem solid black;
}

.dm-restaurant-title
{
    margin-bottom: 0;
}

.dm-restaurant-user-action
{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.material-icons.useraction-adjust
{
    width: 4rem;
    height: 3rem;
}

.dm-restaurant-recommendation-title
{
    width: 100%;
    height: 4rem;
    background: linear-gradient(to right, #DA8B09, white 30%);
}

.dm-restaurant-text-center
{
    text-align: center;
}

.dm-restaurant-recommendation-dish
{
    position: absolute;
    left: 1rem;
    top: 0.5rem;
}

.dm-restaurant-top-lists
{
    border-left: 0.5rem solid black;
    display: flex;
    flex-direction: column;
}

.dm-restaurant-reviews
{
    background-color: #FFFFFF;
}

.dm-restaurant-reviews-banner
{
    width: 100%;
    height: 10rem;
    background: linear-gradient(#DA8B09, #daac08 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.dm-restaurant-list-banner
{
    width: 100%;
    height: 4rem;
    background: linear-gradient(to right, #DA8B09, white);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dm-restaurant-list-title
{
    position: absolute;
    top: 1rem;
}

.dm-restaurant-list-wrapper
{
    border-bottom: 0.5rem solid black;
    background-color: #FFFFFF;
}

.dm-restaurant-list
{
    padding: 1rem;
    margin-left: 15%;
}

.dm-restaurant-reviews-title
{
    position: absolute;
    top: 2rem;
}

.dm-restaurant-reviews-items
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6rem;
}

.dm-restaurant-filter
{
    height: 3rem;
    background-color: black;
    justify-content: center;
}

.nav-link.active.reviewtab
{

    background-color: black;
    color: #007bff;
}

.nav-link.reviewtab
{
    background-color: black;
    color: white;
}

.dm-restaurant-review-pic
{
    width: 8rem;
    height: 6rem;
    border-radius: unset;
}

.dm-restaurant-card-col
{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.dm-restaurant-card-row
{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    overflow-wrap: normal;
}

.dm-restaurant-user-headpic
{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.dm-restaurant-review-card
{
    display: flex;
    flex-direction: row;
    border-top: none;
    padding-top: 2rem;
}

.dm-search-results-banner-title
{
    position: absolute;
    font-size: 80px;
    color: #FFFFFF;
    z-index: 1;
}