.dm-header-logo-wrapper
{
    text-align: center;
}
.dm-header-logo
{
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
}

@font-face {
    font-family: "Antoine-Regular";
    src: url("../fonts/(Antoine-Regular)Antoine-Regular.ttf") format('truetype')

}
.dm-header-text
{
    text-align: center;
    font-family: Antoine-Regular;
    position: relative;
    top: calc(50% - 1.25rem);
    color: #FFF;
}

.dm-header-text-wrapper
{
    background-image: url("../images/background/background1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.dm-header-location-wrapper
{
    position: relative;
    top: 50%;
}