.dm-home-left-panel
{

}
.dm-home-banner-img
{
    max-width: 100%;
}

.dm-home-highlights-wrapper
{
    text-align: center;
    background-color: #171717;
}

.dm-home-highlights-wrapper
{
    color: #da8b09;
}
.dm-home-highlights-wrapper h3
{
    color: #fff;
}

.dm-home-right-panel
{
    background-color: #FFF;
    text-align: center;
    border-left: 0.5rem solid #000;

}

.dm-home-login-form
{
    margin: 3rem auto 0 auto;
}
.dm-home-login-form-btn
{
    margin: 1rem auto 1rem auto;
    display: block;
    width: 100%;
    color: #fff !important;
}

.dm-home-profile-avatar-wrapper
{
    margin: 0 auto;
}
.dm-home-profile-avatar
{
    width: 6rem;
    height: 6rem;

}
.dm-home-user-name
{
    margin: 1.5rem auto 0 auto;
}